@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w QuizOnline!</h1>
    <p class="lead">Twoje miejsce do tworzenia i rozwiązywania interaktywnych quizów.</p>
    <hr />
    <p>Masz już konto? Chcesz stworzyć swój pierwszy quiz?</p>
    <div>
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
        <a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
    </div>
</div>